duplicated_chars.txt
reversed_lines.txt
reversed_order.txt
09_reversed_order.py
encoded_lines.txt
10_encoded_lines.py
decrypted.txt
16_line_play_quarters.py
20_triangles.py
11_2.py
11_graphic.py
01.py
demo.py
demo2.py
01_triang.py
week-04/day-01/__pycache__/domino.cpython-36.pyc
week-04/day-01/domino.py
