* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(238, 238, 238);
}

header {
  height: 200px;
  background: url('images/reddit-header-original.jpg') 0 no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}

span {
  display: block;
  margin: 0px auto;
  width: 290px;
  height: 22px;
  color: rgb(212, 212, 212);
  text-align: center;
  padding-top: 75px;
  font-size: 30px;
  letter-spacing: 1.6em;
}

span:nth-child(2) {
  font-size: 15px;
  letter-spacing: .3em;
  padding-top: 45px;
}

p {
  text-align: center;
}

.counter {
  height: 100%;
  float: left;
  color: rgb(187, 184, 183);
  font-size: 20px;
  font-weight: bold;
  width: 45px;
  padding-left: 10px;
}

.counter > img {
  padding: 5px 15px;
  cursor: pointer;
}

.counter > p {
  padding-bottom: 5px;
}

.article-info {
  padding-left: 70px;
  height: 100%;

}

.article-info > p {
  text-align: left;
  color: rgb(88, 88, 88);
  font-size: 12px;
}

main {
  width: 73%;
  float: left;
  margin: 1%;
}

section {
  width: 23%;
  float: right;
  margin: 1% 1% 1% 0;
}

.about {
  background-color: rgb(251, 251, 251);
  text-align: start;
  padding: .7em;
  font-weight: bold;
}

.submit {
  background-color: rgb(74, 163, 223);
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: .6em;
  font-weight: bold;
}

ul {
  /* padding-left: 2.9em; */
  padding: 1em 3em;
  background-color: rgb(245, 245, 245);
}

.share {
  background-color: rgb(245, 245, 245);
  padding-top: .7em;
}

article > p {
  text-align: start;
}

article {
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: white;
  height: 90px;
}

.article-info > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 10px;
}

.article-info > p > a {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 12px;
  padding: 5px;
}

.add-post-box {
width: 50%;
margin: 20px auto;
}

form {
  background-color: white;
  height: 180px;
}

input {
  width: 350px;
  display: block;
  margin: 15px;
  height: 30px;
}

label {
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  height: 22px;
}

label::after {
  content: "*";
  color: red;
}

button {
  margin-top: 10px;
  width: 40%;
  height: 40px;
  background-color: rgb(74, 163, 223);
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3em;
  font-weight: bold;
}

button:hover {
  background-color: rgb(96, 174, 226)
}

button:active {
  background-color: rgb(56, 154, 219);
}