body {
  height: 313px;
  width: 468px;
}

p {
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-color: rgb(12, 235, 222);
  width: 137px;
  height: 82px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  padding-top: 55px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 11px;
}

p:first-of-type {
  background-color: rgb(185, 12, 235);
}

p:last-of-type {
  background-color: rgb(235, 190, 12);
}

p:nth-child(4) {
  margin-top: 0;
}

p:nth-child(5) {
  margin-top: 0;
}

p:nth-child(6) {
  margin-top: 0;
}