.container {
    display: flex;
    align-items: left;
}

.item {
    height: 100px;
    width: 100px;
    align-self: flex-end;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}