* {
  margin: 0;
  padding: 0;
}

main {
  width: 900px;
  height: 500px;
  background: gray;
  margin: 80px auto;
  position: absolute;
}

.left {
  float: left;
  background: green;
  width: 49.5%;
  height: 85%;
}

.right {
  float: right;
  background: yellow;
  width: 49.5%;
  height: 85%;
}

.control {
  background: blue;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
