* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 820px; 
  width: 806px;
  background-color: rgb(220, 214, 205);
  align-content: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background-color: green;
}

h1 {
  background-color: #dcd6cd;
  align-content: center;
  /*padding: 13px;*/
  border: 13px solid red;
  margin: 16px 0;
  font-weight: 400;
  color: #4a4261;
}

section:first-of-type {
  float: left;
}

section {
  display: inline-block;
  background-color: #dcd6cd;
  width: 49%;
  /*padding: 13px;*/
  border: 13px solid red;
  height: 410px;
  margin: 16px 0;
  float: right;
  color: #4a4261;
}

section:last-of-type {
  width: 100%;
  float: none;
}

h2 {
  color: white;
  font-weight: 400;
  background-color: #938c97;
}

label {
  display: block;
  margin: 0.3em;
}

/*label [for="name"]:after {
  content: "*";
  color: red;
  display: inline;
}*/

.sexdiv {
  float: right;
  display: inline-block;
  width: 50%;
}

.namediv {
  float: left;
  display: inline-block;
  width: 50%;
}

option {
  margin: 0;
}