body {
  background-color: purple;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

p {
  height: 60px;
}

.left, .right {
  background-color: yellow;
}

.center {
  background-color: green;
}