body {
  background: rgb(47, 48, 96);
}

button {
  width: 300px;
  height: 100px;
  font-size: 30px;
  color: rgba(245, 245, 245, 0.7);
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgb(38, 43, 84);
  margin: 20px;
}

.blue {
  background: linear-gradient(45deg, rgb(56, 84, 146), rgb(68, 98, 163));
}

.blue:hover {
  background: rgb(85, 119, 191);
}

.blue:active {
  background: rgb(38, 57, 109);
}

.green {
  background: linear-gradient(45deg, rgb(22, 159, 77), rgb(29, 176, 92));
}

.green:hover {
  background: rgb(85, 211, 139);
}

.green:active {
  background: rgb(22, 106, 64);
}

.red {
  background: linear-gradient(45deg, rgb(207, 61, 45), rgb(215, 71, 54));
}

.red:hover {
  background: rgb(220, 100, 83);
}

.red:active {
  background: rgb(134, 43, 47);
}