* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.box {
  margin: 10px auto;
  border: 5px solid black;
  border-radius: 40px;
  width: 960px;
  height: 1000px;
}

.headspace {
  height: 3%;
  border-bottom: 5px solid black;
}

.content {
  height: 97%;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(176, 42, 255);
}

nav {
  display: flex;
  align-content: center;
}

span {
  margin: 35px;
  width: 100px;
  height: 30px;
  background-color: rgb(42, 234, 255);
}

span:first-of-type {
  margin-left: 5%;
}

.container {
  margin: 10px 5%;
  display: grid;
  width: 90%;
  height: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-auto-rows: minmax(20px, auto);
  grid-auto-columns: minmax(300px, auto);
  grid-gap: 10px;
}

main {
  background-color: rgb(81, 212, 0);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.top {
  grid-row: 1 / 5;
  grid-column: 1 / 3;
}

.right {
  grid-column: 3 / 5;
  grid-row: 1 / 5;
}

.bottom {
  grid-column: 1 / 3;
  grid-row: 5 / 9;
}

.half-right {
  grid-column: 4 / 5;
  grid-row: 5 / 9;
  display: flex;
}

.half-left {
  grid-column: 3 / 4;
  grid-row: 5 / 9;
  display: flex;
}

footer {
  background-color: rgb(204, 204, 204);
  grid-column: 1 / 5;
}

p {
  text-align: center;
  line-height: 40px;
}

.half-left > p, .half-right > p {
  width: 80%;
  margin: 20%;
  background-color: rgb(233, 0, 32);
}
